
<div class="flex-container">
  <mat-card class="flex-item" *ngFor="let subjectSummary of subjectsSummary">
      <mat-card-header>
        <mat-card-title>{{subjectSummary.title | uppercase}}</mat-card-title>
        <mat-card-subtitle>
          <mat-icon>event</mat-icon>
          <span>{{subjectSummary.assessmentDate.toDateString()}}</span>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content [ngStyle]="{'background-image': 'url(./assets/images/' + subjectSummary.image + '.jpg)'}">
        <div>{{subjectSummary.numOfSeats}} Seats</div>
        <button mat-raised-button>View Subject</button>
      </mat-card-content>
      <mat-chip-list>
        <mat-chip color="primary" selected=true>
          {{subjectSummary.numOfTests}} Tests
        </mat-chip>
        <mat-chip color="accent" selected=true>
            {{subjectSummary.numOfTutors}} Tutors</mat-chip>
      </mat-chip-list>
    </mat-card>
</div>

