.navbar-title {
  flex: 1 1 auto;
  text-align: center;
}

.navbar-action{
  width: 40px;
}



.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-sidenav {
  padding: 20px 0;
  min-width: 10vw;
}

.navbar-sidenav-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.mat-drawer-container {
  height: 100vh;
}

