.app-sidenav-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.app-sidenav-menu {
  padding: 20px 0;
  min-width: 10vw;
}

.app-main-container {
  margin: 0 auto;
  max-width: 900px;
  margin-top: 64px;
}

div {
  overflow: auto;
  height: 100%;
}

@media (max-width: 600px){
  .app-main-container {
    margin-top: 56px;
  }
}

