.rating-icon {
  color: goldenrod;
}

.flex-container {
  justify-content: center;
}

.flex-container .flex-item {
  width: 100%;
}

@media (min-width: 851px) {
  .flex-container .flex-item {
    max-width: 420px;
  }
}
